/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #fff !important;
    border-bottom: 2px dotted #fff !important;
}

/*Who's online*/

html.whos-online-glow .topic-avatar.user-online img.avatar {
    box-shadow: 0 0 4px 3px #00ff64;
}

/*Wiki background*/

.wiki .topic-body {
    background-color: #216e2a;
}
