/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #fff !important;
    border-bottom: 2px dotted #fff !important;
}


/*Wiki background*/

.wiki .topic-body {
    background-color: #004220;
}

/*Staff username colour*/

.names span.staff a {
   color: #FFFFFF;
}

/*Like post number*/

nav.post-controls .actions a, nav.post-controls .actions button {
    color: #c6c6c6;
    margin-right: 2px;
    display: inline-block;
}

/*Highlighted text in quote*/

span.highlighted {
    background-color: #116899;
}

/*date plus times on topic*/

.timeline-date-wrapper .start-date {
  &:before {
    content: "Return to top"; // Change the text here
  }

  .d-label {
    display: none; // hide the topic OP date
  }
}

/*Buttons on homepage*/

.nav-pills>li a.active {
    color: var(--secondary);
    background-color: #0076ff;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.nav-pills>li>a:hover {
    color: #FFFFFF;
    background-color: #003C59;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

/*Add blue to Admin settings*/

.nav-stacked a.active {
    color: #000632;
    background-color: #0076ff;
}

.post-controls .extra-buttons .accepted-text .d-icon, .post-controls .extra-buttons .accepted-text .accepted-label {
    color: #00ff63;
}

.nav-stacked a.active {
    color: #000632;
    background-color: #0076ff;
    border-radius: 6px;
}

/*User card background colour*/

.user-card .card-content, .group-card .card-content {
    padding: 10px;
    background: #000000a6;
    margin-top: 80px;
}
