// Staff colour and Glow
.moderator .regular>.cooked {
    background-color: #069 !important;
    filter: drop-shadow(3px 3px 12px var(--highlight));
    border-radius: 10px;
    padding-bottom: 15px;
}
